<!-- Email Footer : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;"
    class="footer">
    <tr>
        <td
            style="padding: 24px 48px 0 48px; font-family:arial, 'helvetica neue', helvetica, sans-serif; font-size: 12px; line-height: 15px; color: #ffffff;">
            <p style="color:#243746;">©️ Lorem ipsum odor amet, consectetuer adipiscing elit.</p>
        </td>
    </tr>
    <tr>
        <td
            style="padding: 0 48px 200px 48px; font-family:arial, 'helvetica neue', helvetica, sans-serif; font-size: 12px; line-height: 15px; text-align: center; color: #ffffff;">
            <p style="color:#243746;text-align:justify">Lorem ipsum odor amet, consectetuer adipiscing elit. Tempor suscipit magnis tincidunt dapibus feugiat eget. Pharetra nulla tellus, litora cursus blandit montes purus eu. Augue tellus hac ante eleifend ipsum iaculis vulputate accumsan. Orci maecenas platea molestie hendrerit aliquam. Erat et penatibus imperdiet vestibulum nisi.

</p>
        </td>
    </tr>
</table>
<!-- Email Footer : END -->