<!-- 1 Header : BEGIN -->
<tr>
    <td style="background-color: #243746; border-radius:6px 6px 0 0;">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td>
                    <img src="https://img.uxcel.com/tags/notifications-1700498330224-2x.jpg"
                        style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                        width="200">
                </td>
                <td>

                    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0"
                        style="float: right;margin-right: 24px!important;">
                        <tr>
                            <td class="button-td button-td-primary" style="border-radius: 6px; background: #6aff83;">
                                <a class="button-a button-a-primary" href="{{ url_root }}/auth/login"
                                    style="background: #6aff83; border: 1px solid #6aff83; font-family: sans-serif; font-size: 14px; line-height: 16px; text-decoration: none; padding: 8px 18px; color: #243746; display: block; border-radius: 4px;">Sign
                                    In</a>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- 1 Header : END -->